body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #020020, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  background-color: #000000;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

input {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #020020;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #040041;
  transform: scale(1.05);
  transition: 0.5s;
}

p {
  margin-top: 10px;
  font-size: 14px;
}

.erro {
  color: #ff4d4d;
}

.sucesso {
  color: #4dff88;
}